<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <h1 class="home">Pokedex Home</h1>
    <nav>
      <a href="/pokemon/new" class="newPoke">Add a new Pokemon</a>
    </nav>

    <div class="container">
      <ul class="list">
        <% for(let i = 0; i < pokeData.length; i++){ %>
        <li>
          <a href="/pokemon/<%= i %>">
            <img src="<%= pokeData[i].img %>" alt="" />
          </a>
          <a href="/pokemon/<%= i %>">
            <h3 class="name"><%= pokeData[i].name %></h3>
          </a>
          <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" class="delete" />
          </form>
          <div class="div-edit">
            <a href="/pokemon/<%= i %>/edit" class="edit">EDIT</a>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
